body{
    background-color: rgb(221, 230, 243);
}
.x{
    text-align: center;
    background-color: rgba(90, 90, 226, 0.87);
    color: white;
    width: 100%;
    height: 40%;
}
.y{
    width: 90%;
    height: 200px;
    margin-left: 60px;
    border: 1px solid rgb(63, 63, 245);
    text-align: center;
    color:rgb(63, 63, 245);
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: scroll;
}
.y h2{
    margin-right: 10px;
    margin-left: 10px;
    text-align: left;
    border: 1px solid rgb(63, 63, 245);
}
.z{
    width: 1250px;
    height: 500px;
    border: 1px dashed rgb(63, 63, 245);
    margin-left: 30px;
    margin-right: 30px;
}
.A{
    justify-content: center;
    display: flex;
    
}
.box{
    width: 150px;
    height: 300px;
    border: 1px solid rgb(63, 63, 245);
    box-shadow: 10px 10px 10px rgb(118, 118, 224);
    background-color: white;
    text-align: center;
    gap: 100px;
}
.box img{
    width: 60px;
    padding-left: 30px;
    padding-right: 30px;
}
.z h2{
    padding-left: 30px;
}
.z button{
    width: 80px;
    height: 40px;
    border-radius:10px ;
    background-color: rgb(36, 235, 225);
    color: white;
}
.g{
    text-align: center;
    background-color: rgba(90, 90, 226, 0.87);
    color: white;
    width: 100%;
    height: 80px;
    padding-top: 40px;
}