.x img{
    position: relative;
    left: 800px;
}
.x pre{
    position: relative;
    right: 300px;
    font-size: large;
}
.x{
   display: flex;
   gap: 20px;
}
.boxes{
    display: flex;
    gap: 50px;
}
.box1{
    width: 200px;
    height: 50px;
    background-color: rgb(190, 89, 119);
    text-align: center;
    padding-top: 5px;
}
.box2{
    width: 200px;
    height: 50px;
    background-color: green;
    text-align: center;
    padding-top: 5px;  
    box-shadow: 0px 16px 11px -10px;
}
.box3{
    width: 200px;
    height: 50px;
    background-color: rgb(104, 145, 207);
    text-align: center;
    padding-top: 5px;
}
.box4{
    width: 200px;
    height: 50px;
    background-color: yellow;
    text-align: center;
    padding-top: 5px;
    border: 1px solid;
    border-radius: 10px;
}
.box5{
    width: 200px;
    height: 200px;
    background-color: rgb(143, 11, 11);
    text-align: center;
    padding-top: 5px;
    position: relative;
    top: 100px;
    left: 200px;
    z-index: 1;
    
}

.box6{
    width: 200px;
    height: 200px;
    background-color: rgb(9, 212, 162);
    text-align: center;
    position: relative;
    top: -50px;
    left: 250px;
    z-index: 2;
}
.box7{
    width: 200px;
    height: 200px;
    background-color: rgb(172, 3, 129);
    text-align: center;
    position: relative;
    top: -200px;
    left: 300px;
    z-index: 3;
}
.z{

}
.table{
    margin-left: 20%;
    border-color: rgb(199, 195, 195);
    background-color: rgb(230, 229, 229);
    box-shadow: 2px 20px 10px -20px;
}